<div class="coin">
    <div class="coin-img">
        <img src="./static/images/ethereum.png">
    </div>
    <div class="coin-info">
        <h1>Ethereum</h1>
        <p><span>Price: </span>$2,338.55</p>
        <p><span>Payment: </span>debit-card</p>
    </div>

    <a href="#" class="btn-details">Details</a>
</div>