
    <main>
        <section class="crypto-market">
            {{#if cryptoOffers}}
            <h1><span>Crypto</span> Trade</h1>
            <div class="offer-list">
                {{#each cryptoOffers}}
                {{>crypto}}
                {{/each}}

            </div>
            {{else}}
            <div class="no-offer">
                <p>There are no crypto offers found!</p>
            </div> 
            {{/if}}
        </section>
    </main>

   